<div class="container">
    <div ng-cloak style="align-content: center">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <a class="blue-grey-text" href="#/home"><i class="fa fa-2x fa-chevron-left"
                                                                   aria-hidden="true"></i></a>
                        <h3 class="center">{{chatCtrl.chatDetails.chat_name}}</h3>
                        <div class="messaging">
                            <div class="inbox_msg">
                                <div class="mesgs">
                                    <div class="msg_history">
                                        <div ng-repeat="m in chatCtrl.postList" >

                                            <div class="card">
                                                <div class="card-content">
                                                    <!-- Card Title is the person who write the message -->
                                                    <!-- Here comes the message text -->
                                                    <img id="{{m.mediaId}}" src="http://127.0.0.1:5000{{m.mediaLocation}}"
                                                         alt="" style="width: 50%">
                                                    <span class="card-title">{{m.username}}</span>

                                                    <p class="float-right">
                                                        {{m.postDate}}
                                                    </p>
                                                    <p>
                                                        {{m.postMsg}}
                                                    </p>
                                                </div>
                                                <div class="card-action">
                                                    <!--this is like-->
                                                    <a ng-click="chatCtrl.likeadd(m)"
                                                       class="btn-floating btn-small waves-effect waves-light blue"><i
                                                            class="material-icons">thumb_up </i></a>
                                                    <a ng-bind="m.likes" ng-click="chatCtrl.usersReactions(m.postId)"
                                                       style="cursor: pointer">
                                                        {{m.likes}}
                                                    </a>

                                                    <!--this is dislike-->
                                                    <a ng-click="chatCtrl.dislikeadd(m)"
                                                       class="btn-floating btn-small waves-effect waves-light blue"><i
                                                            class="material-icons">thumb_down </i>
                                                    </a>
                                                    <a ng-bind="m.dislikes" ng-click="chatCtrl.usersReactions(m.postId)"
                                                       style="cursor: pointer">
                                                        {{m.dislikes}}
                                                    </a>

                                                    <a ng-click="chatCtrl.replymsg(m)"
                                                       class="btn-floating btn-small waves-effect grey"><i
                                                            class="material-icons">reply </i></a>
                                                </div>
                                                <div class="card-action">
                                                    <h6>{{m.first_name}} {{m.last_name}}<span
                                                            class="chat_date">Dec 25</span></h6>
                                                    <p>
                                                        {{m.postMsg}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="type_msg">
                                        <!--<div class="input_msg_write">-->
                                        <!--<input id="msgInput" type="text" class="write_msg"-->
                                        <!--placeholder="Type a message" required="required"-->
                                        <!--ng-model="chatCtrl.msgNewText"/>-->
                                        <!--<button class="msg_send_btn" type="button"-->
                                        <!--ng-click="chatCtrl.postMsg()"-->
                                        <!--onclick="clearInput()"><i class="fa fa-paper-plane-o"-->
                                        <!--aria-hidden="true"></i></button>-->
                                        <!--</div>-->
                                        <form name="myForm">
                                            <fieldset>
                                                <div class="input_msg_write">
                                                    <input id="msgInput" type="text" class="write_msg"
                                                           placeholder="Type a message" required
                                                           ng-model="chatCtrl.newText" name="userName"
                                                           placeholder="Type a message"/>
                                                    <button class="msg_send_btn" type="button"
                                                            ng-click="chatCtrl.postMsg()"
                                                            onclick="clearInput()"><i class="fa fa-paper-plane-o"
                                                                                      aria-hidden="true"></i></button>
                                                </div>

                                                <i ng-show="myForm.userName.$error.required">*required</i>
                                                <br>
                                                <p>Photo</p>
                                                <input type="file" ngf-select name="file"
                                                       accept="image/*" ngf-max-size="2MB" required
                                                       ngf-model-invalid="errorFile">

                                                <i ng-show="myForm.file.$error.required">*required</i><br>
                                                <i ng-show="myForm.file.$error.maxSize">File too large
                                                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                                                <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                                                <br>
                                                <button ng-disabled="!myForm.$valid"
                                                        ng-click="uploadPic(picFile)">Submit
                                                </button>
                                                <span class="progress" ng-show="picFile.progress >= 0">
                                                    <div style="width:{{picFile.progress}}%"
                                                         ng-bind="picFile.progress + '%'">
                                                    </div>
                                                </span>
                                                <span ng-show="picFile.result">Upload Successful</span>
                                                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                                            </fieldset>
                                            <br>
                                        </form>

                                    </div>
                                </div>
                                <div class="inbox_people">
                                    <div class="headind_srch">
                                        <div class="recent_heading">
                                            <h4>Users</h4>
                                        </div>
                                    </div>
                                    <div class="inbox_chat">
                                        <div ng-repeat="user in chatCtrl.usersInChat">
                                            <a class="waves-effect lighten-1"
                                               ng-click="chatCtrl.loadUserInfo(user.user_id)"
                                               style="width: 100%">
                                                <div class="chat_list">
                                                    <div class="chat_people">
                                                        <div class="chat_img"><img
                                                                src="https://ptetutorials.com/images/user-profile.png"
                                                                alt="sunil">
                                                        </div>
                                                        <div class="chat_ib">
                                                            <h5>{{user.first_name}} {{user.last_name}}</h5>
                                                            <!--<p>{{user.isAdmin ? 'Admin' : ''}}</p>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>