<script>

    $(document).ready(function () {
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });

        $('.card-body').find('p.postMsg').each(function () {
            alert($(this).text());
        });
    });
</script>
<div class="container-fluid">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card color-card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header" style="display: flex">
                    <h3 style="margin: auto">Chat Members</h3>
                    <a data-toggle="modal" data-target="#myModal" style="cursor: pointer"
                       ng-click="chatCtrl.showModal()"><i
                            class="fa fa-2x fa-plus"></i></a>

                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts" ng-repeat="user in chatCtrl.usersInChat">
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://ptetutorials.com/images/user-profile.png"
                                         class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{user.first_name}}</span>
                                    <p>{{user.username}} is online</p>
                                </div>
                            </div>
                        </li>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-9 chat">
            <div class="card color-card">
                <div class="card-header msg_head">

                    <div class="d-flex bd-highlight">
                        <button class="chats waves-effect grey btn-small"
                                ng-click="chatCtrl.showChats()"><i class="fa fa-chevron-left"
                                                                   aria-hidden="true"></i> Home
                        </button>
                        <div class="user_info">
                            <span>{{chatCtrl.chatDetails.chat_name}}</span>
                            <p></p>
                        </div>
                    </div>
                    <span id="action_menu_btn" onclick="openMenu()"><i class="fa fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <!--<li><i class="fa fa-user-circle"></i> View profile</li>-->
                            <li id="chatMembersView"><i class="fa fa-users"></i> Chat Members</li>
                            <li>
                                <!--<a href="myModal"> <i class="fa fa-plus"></i> Add to group-->
                                <!--</a>-->
                            </li>
                            <!--<li><i class="fa fa-ban"></i> Block</li>-->
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="postDiv">
                    <div ng-repeat="m in chatCtrl.postList">
                        <div class="d-flex justify-content-start mb-4">
                            <div class="row">
                                <div class="col-md-1 img_cont_msg">
                                    <img src="https://ptetutorials.com/images/user-profile.png"
                                         class="rounded-circle user_img_msg">
                                    <span class="msg_username">{{m.username}}</span>

                                </div>

                                <div class="col-md-6 msg_container">
                                    <div class="center">
                                        <img class="msg_img" src="http://127.0.0.1:5000{{m.mediaLocation}}" alt="">
                                    </div>
                                    <p class="postMsg">{{m.postMsg}}</p>
                                    <div class="card-action">
                                        <!--this is like-->
                                        <a ng-click="chatCtrl.likeAdd(m)"
                                           class="btn-floating btn-small waves-effect waves-light blue"><i
                                                class="material-icons">thumb_up </i></a>
                                        <a ng-bind="m.likes" ng-click="chatCtrl.loadLikes(m)"
                                           style="cursor: pointer">
                                            {{m.likes}}
                                        </a>

                                        <!--this is dislike-->
                                        <a ng-click="chatCtrl.dislikeAdd(m)"
                                           class="btn-floating btn-small waves-effect waves-light blue"><i
                                                class="material-icons">thumb_down </i>
                                        </a>
                                        <a ng-bind="m.dislikes" ng-click="chatCtrl.loadDislikes(m)"
                                           style="cursor: pointer">
                                            {{m.dislikes}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 reply_container">
                                    <h4>Replies</h4>
                                    <div style="overflow: auto">
                                        <div class="card-action" ng-repeat="r in m.replies">
                                            <h6><strong>{{r.reply_username}} </strong></h6>
                                            <p>
                                                {{r.reply_msg}}
                                            </p>
                                            <span class="reply_date right">{{r.reply_date}}</span>

                                        </div>
                                    </div>
                                    <div class="card-action" style="display: flex; padding: 30px 0 0">
                                        <form name="form"
                                              ng-submit="chatCtrl.replyPost(m, replyTxt, 'reply'+m.postId)"
                                              style="width: 100%"
                                              role="form">
                                            <div style="display: flex">
                                                <input class="input_msg_write" id="reply{{m.postId}}" name="replyText"
                                                       ng-model="replyTxt"
                                                       placeholder="Reply Post..." required/>
                                                <button type="submit" class="btn-floating btn-small waves-effect grey">
                                                    <i class="material-icons">reply </i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer" ng-app="fileUpload" ng-controller="ChatController">
                    <form name="myForm">
                        <div ng-show="myForm.file.$valid">
                            <img ngf-thumbnail="file" class="img_msg">
                        </div>
                        <button class="btn" style="margin: 10px 0;" ng-click="file = null" ng-show="file">Remove
                        </button>
                        <div class="input-group">

                            <div class="input-group-append">
                                <span class="input-group-text attach_btn" type="file" ngf-select ng-model="file"
                                      name="file"
                                      accept="image/*" ngf-max-size="2MB" required
                                      ngf-model-invalid="errorFile"><i class="fa fa-paperclip"></i>
                                    </span>
                            </div>
                            <!--<textarea class="form-control type_msg" name="message" ng-model="message"-->
                            <!--placeholder="Type your message..." required></textarea>-->
                            <input class="form-control type_msg" name="message" ng-model="message"
                                   placeholder="Type your message..." required/>
                            <div class="input-group-append">
                                <!--<button class="input-group-text send_btn" ng-disabled="!myForm.$valid"-->
                                <!--ng-click="uploadPic(picFile)"><i class="fa fa-location-arrow"></i></button>-->
                                <button class="input-group-text send_btn" ng-disabled="!myForm.$valid"
                                        ng-click="uploadPic(file)"><i class="fa fa-location-arrow"></i></button>

                            </div>
                        </div>
                        <i ng-show="myForm.message.$error.required">Message required*</i>
                        <i ng-show="myForm.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <span class="progress" ng-show="file.progress >= 0">
                            <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'">

                            </div>
                        </span>
                        <span ng-show="file.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade openModal" id="myModal" ng-controller="ChatController">
    <div class="modal-dialog proceeds-modal">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header ">
                <h4 class="modal-title">Add Users to this Chat</h4>
                <!-- <button type="button" class="close" (click)="hideModal()">&times;</button> -->
            </div>
            <form name="myFormContacts">
                <!-- Modal body -->
                <div class="modal-body">
                    <label for="username">Contacts </label>
                    <ui-select multiple sortable="true" ng-required="required"
                               ng-model="chatCtrl.usersSelected"
                               theme="select2" class="form-control" title="Choose a person">
                        <ui-select-match placeholder="Select or search a person in the list...">
                            {{$item.first_name}} {{$item.last_name}} - {{$item.username}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in chatCtrl.userContactsToAdd | filter: $select.search">
                            <div ng-bind-html="item.first_name | highlight: $select.search"></div>
                            <small ng-bind-html="item.username | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-click="chatCtrl.addParticipants(chatCtrl.chatDetails.chat_id)" ng-disabled="!myFormContacts.$valid">Add
                    </button>
                    <!--<button type="button" class="btn btn-danger" onclick="hideModal()">Cancel</button>-->

                    <!-- this button is hidden, used to close from typescript -->
                    <button type="button" class="btn btn-danger" id="close-modal" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
