<div class="container">
    <div ng-cloak style="align-content: center">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create Chat Group</span>
                        <table>
                            <tbody>
                            <tr>
                                <th>Group Name:</th>
                                <th><input ng-model="newGroupCtrl.name"></th>
                            </tr>
                            <tr>
                                <th>Select Participants:</th>

                            </tr>
                            <tr ng-repeat="participant in newGroupCtrl.participants">
                                <td>{{participant.first_name}}</td>

                                <td><a class="waves-effect  blue lighten-1 btn-small"
                                       ng-click="userCtrl.loadUserInfo(participant.user_id)">Add</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <button class="chats waves-effect grey btn-small"
                                ng-click="newGroupCtrl.showChats()"><i class="fa fa-chevron-left"
                                                                       aria-hidden="true"></i> Chats
                        </button>

                        <a class="waves-effect blue-grey lighten-1 btn-small float-right"
                           ng-click="newGroupCtrl.saveGroup()">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>